#nav{
    background-color: rgb(237, 22, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 03rem;
}

#nav_left{
    font-size: 40px;
}
#nav_right{
    display: flex;
    gap: 30px;
}
#nav_right > #link {
    background-color: rgb(12, 177, 199);
    padding: 5px 12px;
    border-radius: 2px;
}